@charset "utf-8";
/* CSS Document */
body{ margin:0; text-align:center; position:relative;}
@font-face{
	font-family:myFont1;
	src:url(%E6%96%B9%E6%AD%A3%E4%B8%AD%E9%9B%85%E5%AE%8B_GBK.TTF);
}
@font-face{
	font-family:myFont2;
	src:url(SUNN.otf);
}
@font-face{
	font-family:myFont3;
	src:url(aparaj.ttf);
}
#rotate{ position:absolute; top:260px; left:50%; margin-left:-75px; vertical-align: middle; overflow:hidden; z-index:1; -webkit-transition:.5s all ease-out; cursor:pointer;}
#hide{ width:150px; height:150px; position:absolute; top:260px; left:50%; margin-left:-75px; background:#a81e24; -webkit-transition:1s all ease-out; opacity:0; filter:alpha(opacity:0); text-align:left; line-height:30px;}
#hide div{ color:#fff; font-family:myFont2; font-size:25px; font-weight:bold; font-style:normal; margin:15px 0 0 15px;}
#name1{ opacity:0; filter:alpha(opacity:0); width:60px; height:35px; margin:auto; text-align:center; line-height:35px; font-family:myFont2; color:#000; font-size:22px; font-weight:bold; position:absolute; top:220px; left:50%; margin-left:-30px;}
#name1:hover{ -webkit-transition:1s all ease-out;}
#name2{ opacity:0; filter:alpha(opacity:0); width:100px; height:35px; margin:auto; text-align:center; line-height:35px; font-family:myFont2; color:#000; font-size:22px; font-weight:bold; position:absolute; top:420px; left:50%; margin-left:-50px;}
#container{ overflow:hidden; width:100%; height:100%; opacity:0; filter:alpha(opacity:0); -webkit-transition:1.5s all ease-out; position:relative;}
#burgerMenu{ width:400px; height:100%; background:#313C3F; overflow:hidden; position:fixed; top:0; left:-400px; z-index:1;}
#burgerMenu .close_1{ width:40px; height:40px; position:absolute; top:50%; left:10px; color:#fff; font-size:45px; cursor:pointer; text-align:center; line-height:35px; -webkit-transition:.4s all ease; margin-top:-40px;}
#burgerMenu .close_1:hover{ -webkit-transform:rotate(90deg);}
#burgerMenu .navContent{ width:100%; padding:0 20px; box-sizing:border-box; margin-top:70px;}
#burgerMenu .navContent .logo{ background:url(../img/png.png) no-repeat -283px -9px; width:30px; height:30px; position:absolute; top:-40px; left:50%; margin-left:-15px;}
#burgerMenu .navContent p{ font-family:myFont3; font-size:16px; color:#566164; margin-top:160px; position:relative;}
#burgerMenu .globalnav a{ font-size:40px; font-weight:bold; color:#566164; font-family:myfont1;}
#burgerMenu .globalnav .on{ color:#fff;}
#burgerMenu .globalnav li{ padding-top:45px; width:130px; letter-spacing:1px;}
#burgerMenu .globalnav{ margin-left:80px; text-align:left;}
#container #navBtn{ width:24px; height:14px; background:none; text-transform:none; border:none; outline:0; margin:0; position:fixed; top:50%; left:40px; z-index:1; margin-top:-14px; cursor:pointer; transition:1s all ease;}
#container #navBtn .line01{ width:100%; height:2px; background:#313C3F;}
#container #navBtn .line02{ width:100%; height:2px; background:#313C3F; margin-top:4px;}
#container #navBtn .line03{ width:100%; height:2px; background:#313C3F; margin-top:4px;}
#home{ width:958px; height:400px; overflow:hidden; position:absolute; top:50%; left:50%; margin-top:-200px; margin-left:-479px;}
#home img{ width:100%;}
#logo{ width:86px; height:25px; background:none;}
#logo{  position:fixed; top:24px; left:76px; z-index:1;}
#column{ width:668px; height:18px; position:absolute; top:125px; left:50%; margin-left:-334px}
#column img{ width:100% position:absolute; top:40px; left:120px;}
#carnival{ width:1000px; height:495px; position:absolute; top:50%; left:50%; margin-top:-210px; margin-left:-500px; z-index:999;}
#carnival img{ width:100%;}

#art{ background:url(../image/3.jpg) no-repeat; background-size:100%; width:100%; height:100%; position:relative; z-index:0; display:none;}
#slogan{ width:584px; height:511px; position:absolute; top:100px; left:50%; margin-left:-292px;}
#slogan img{ width:100%;}

#artCon{ display:none;}
#artCon .sketch{ width:100%; height:914px; margin-top:120px; position:relative;}
#artCon .sketch .color1{ width:868px; height:914px; background:#d0b9a5;}
#artCon .sketch .mydesign{ width:378px; height:173px; position:absolute; top:-30px; right:50px;}
#artCon .sketch .paint1{ width:700px; height:562px; position:absolute; top:135px; left:500px;}
#artCon .sketch .paint2{ width:340px; height:428px; position:absolute; top:320px; left:100px;}
#artCon .sketch .text2{ width:200px; position:absolute; bottom:64px; right:220px; font-size:16px; font-family:myFont1; text-align:left; line-height:28px; letter-spacing:1px;}
#artCon .sketch .text2 span{ font-size:22px; font-family:myFont1;}
#artCon .sketch .word3{ width:320px; font-family:myFont3; font-size:50px; position:absolute; bottom:180px; right:220px; line-height:48px; text-align:left;}
#artCon .sketch .more1{ width:270px; height:80px; background:#a81e24; font-family:myFont1; font-size:35px; color:#fff; text-align:left; line-height:80px; position:absolute; top:150px; left:250px; cursor:pointer}
#artCon .sketch .more2{ width:270px; height:80px; background:#a81e24; font-family:myFont1; font-size:35px; color:#fff; text-align:left; line-height:80px; position:absolute; bottom:-40px; right:320px; cursor:pointer}
#artCon .sketch .word1{ font-family:myFont3; font-size:24px; position:absolute; top:250px; left:280px;}
#artCon .sketch .text1{ width:145px; position:absolute; bottom:126px; left:450px; font-size:16px; font-family:myFont1; text-align:left; line-height:28px; letter-spacing:1px;}
#artCon .sketch .text1 span{ font-size:22px; font-family:myFont1;}
#artCon .sketch .word2{ font-family:myFont3; font-size:50px; position:absolute; bottom:80px; left:280px;}
#artCon .sketch .word4{ font-family:myFont3; font-size:24px; position:absolute; bottom:-80px; right:410px;}

#artCon .hand-drawing{ width:100%; height:1434px; position:relative; margin-top:150px;}
#artCon .hand-drawing .color2{ width:1068px; height:1434px; background:#e8ebc2; float:right;}
#artCon .hand-drawing .paint3{ width:688px; height:513px; position:absolute; top:-40px; right:88px;}
#artCon .hand-drawing .paint3 img{ width:100%;}
#artCon .hand-drawing .text3{ width:145px; position:absolute; top:480px; right:200px; font-size:16px; font-family:myFont1; text-align:left; line-height:28px; letter-spacing:1px;}
#artCon .hand-drawing .text3 span{ font-size:22px; font-family:myFont1;}
#artCon .hand-drawing .word5{ width:60px; font-family:myFont1; font-size:60px; position:absolute; top:376px; right:100px; line-height:70px; color:#a81e24;}
#artCon .hand-drawing .word5 span{ font-family:myFont1; color:#fff;}
#artCon .hand-drawing .paint4{ width:360px; height:360px; position:absolute; top:40px; left:140px;}
#artCon .hand-drawing .paint4 img{ width:100%;}
#artCon .hand-drawing .text4{ width:145px; position:absolute; top:460px; left:300px; font-size:16px; font-family:myFont1; text-align:left; line-height:28px; letter-spacing:1px;}
#artCon .hand-drawing .text4 span{ font-size:22px; font-family:myFont1;}
#artCon .hand-drawing .word6{ font-family:myFont1; font-size:60px; position:absolute; top:410px; left:100px; color:#a81e24;}
#artCon .hand-drawing .paint5{ width:502px; height:394px; position:absolute; top:640px; left:180px;}
#artCon .hand-drawing .paint5 img{ width:100%;}
#artCon .hand-drawing .paint6{ width:441px; height:598px; position:absolute; top:700px;right:100px;}
#artCon .hand-drawing .paint6 img{ width:100%;}
#artCon .hand-drawing .text5{ width:200px; position:absolute; bottom:220px; left:480px; font-size:16px; font-family:myFont1; text-align:left; line-height:28px; letter-spacing:1px;}
#artCon .hand-drawing .text5 span{ font-size:22px; font-family:myFont1;}
#artCon .hand-drawing .word7{ width:152px; font-family:myFont1; font-size:60px; position:absolute; bottom:340px; left:300px; color:#000; line-height:30px;}
#artCon .hand-drawing .word7 .shadow{ font-family:myFont1;}
#artCon .hand-drawing .word7 .space{ font-family:myFont1; opacity:0.4; filter:alpha(opacity:40); color:#000;}
#artCon .hand-drawing .text6{ width:170px; position:absolute; bottom:30px; right:560px; font-size:16px; font-family:myFont1; text-align:left; line-height:28px; letter-spacing:1px;}
#artCon .hand-drawing .text6 span{ font-size:22px; font-family:myFont1;}
#artCon .hand-drawing .word8{ font-family:myFont1; font-size:60px; position:absolute; bottom:200px; right:550px; color:#a81e24;}
#artCon .hand-drawing .more3{ width:270px; height:80px; background:#a81e24; font-family:myFont1; font-size:35px; color:#fff; text-align:left; line-height:80px; position:absolute; bottom:-60px; left:240px; cursor:pointer}
#artCon .hand-drawing .word9{ font-family:myFont3; font-size:24px; position:absolute; bottom:-100px; left:250px;}

#artCon .clothes{ width:100%; height:1000px; position:relative; margin-top:250px;}
#artCon .clothes .color3{ width:1050px; height:900px; background:#c2c0c6; margin-left:200px;}
#artCon .clothes .paint7{ width:580px; height:870px; position:absolute; top:-100px; left:130px;}
#artCon .clothes .paint7 img{ width:100%;}
#artCon .clothes .word10{ font-family:myFont1; font-size:60px; position:absolute; top:-10px; right:400px; letter-spacing:10px;}
#artCon .clothes .text7{ width:370px; position:absolute; top:100px; right:168px; font-size:16px; font-family:myFont1; text-align:left; letter-spacing:1px;}
#artCon .clothes .paint8{ width:334px; height:250px; position:absolute; bottom:202px; right:208px;}
#artCon .clothes .paint8 img{ width:100%;}
#artCon .clothes .more4{ width:270px; height:80px; background:#a81e24; font-family:myFont1; font-size:35px; color:#fff; text-align:left; line-height:80px; position:absolute; bottom:50px; right:220px; cursor:pointer}
#artCon .clothes .word11{ font-family:myFont3; font-size:24px; position:absolute; bottom:10px; right:288px;}

#artCon .bottom1{ width:100%; height:200px; background:#a81e24; margin:150px 0 10px 0; position:relative;}
#artCon .bottom1 .img1{ width:338px; height:144px; position:absolute; top:30px; left:180px;}
#artCon .bottom1 .img2{ width:86px; height:25px; position:absolute; top:92px; right:80px;}

#about{ margin-top:120px; background:url(../image/12.jpg) no-repeat; width:100%; height:100%; background-size:100%; position:relative;}
#about p{ position:absolute; bottom:260px; right:100px; width:200px; text-align:left; line-height:20px;}
#about p .name{ font-family:myFont1; font-size:24px;}
#about p .e_name{ font-family:myFont3; font-size:15px;}
#aboutCon{ width:100%; position:relative; margin-top:120px;}
#aboutCon .paint9{ margin-left:-170px; width:1025px; margin-left:-650px;}
#aboutCon .about1{ overflow:hidden; margin-top:60px; margin-left:280px; position:absolute; top:0;}
#aboutCon .about1 .span1{ text-align:left; line-height:160px; font-size:120px; font-family:myFont1; font-weight:400; letter-spacing:16px;}
#aboutCon .about1 .span2{ text-align:left; font-size:20px; font-family:myFont3; line-height:30px; margin-top:76px;}
#aboutCon .about1 .span3{ margin-top:174px; margin-left:-140px;}
#aboutCon .about1 .span3 .p1{ font-size:45px; font-family:myFont1; color:#a81e24; text-align:left; line-height:60px; font-weight:600;}
#aboutCon .about1 .span3 .p2{ font-size:14px; font-family:myFont1; color:#a81e24; text-align:left; line-height:36px; }
#aboutCon .about2{ width:1016px; height:608px; background:#eee9e3; margin-left:120px; position:absolute; top:670px;}
#aboutCon .about2 img{ width:422px; height:550px; margin:100px 0 0 80px;}
#aboutCon .about2 .msg .p3{ width:100px; text-align:left; line-height:30px; margin:120px 0 0 40px}
#aboutCon .about2 .msg .p3 .name1{ font-family:myFont1; font-size:24px;}
#aboutCon .about2 .msg .p3 .e_name1{ font-family:myFont3; font-size:15px;}
#aboutCon .about2 .msg .msg1{ font-size:14px; font-family:myFont1; text-align:left; line-height:18px; margin-left:40px; margin-top:30px; }
#aboutCon .about2 .msg .msg2{ font-size:14px; margin-left:40px; margin-top:30px; text-align:left; position:relative;}
#aboutCon .about2 .msg .msg2 .span4{ font-family:myFont1;}
#aboutCon .about2 .msg .msg2 .p4{ padding-left:70px; font-family:myFont1; padding-top:10px;}
#aboutCon .about2 .msg .msg2 .p4 .img3{ background:url(../img/png.png) no-repeat -190px -79px ; width:25px; height:16px; position:absolute; top:30px; left:30px;}
#aboutCon .about2 .msg .msg2 .p5{ padding-left:70px; font-family:myFont1; padding-top:10px;}
#aboutCon .about2 .msg .msg2 .p5 .img4{ background:url(../img/png.png) no-repeat -228px -79px ; width:25px; height:16px; position:absolute; top:73px; left:34px;}
#aboutCon .about2 .msg .msg2 .p6{ padding-left:70px; font-family:myFont1; padding-top:10px;}
#aboutCon .about2 .msg .msg2 .p6 .img5{ background:url(../img/png.png) no-repeat -254px -79px ; width:25px; height:16px; position:absolute; top:120px; left:30px;}
#aboutCon .about2 .msg .msg2 .p7{ width:100px; height:20px; margin-left:32px; margin-top:10px; position:relative;}
#aboutCon .about2 .msg .msg2 .p7 .img6{ background:url(../img/png.png) no-repeat -280px -81px ; width:20px; height:20px; position:absolute; top:0; left:0;}
#aboutCon .about2 .msg .msg2 .p7 .img7{ background:url(../img/png.png) no-repeat -306px -79px ; width:20px; height:20px; position:absolute; top:0; left:40px;}
#aboutCon .about2 .msg .msg2 .p7 .img8{ background:url(../img/png.png) no-repeat -332px -78px ; width:20px; height:20px; position:absolute; top:0; left:80px;}

#education{ width:100%; height:100%; position:relative; margin-top:120px;}
#education .color4{ width:1016px; height:608px; background:#dee3de; position:absolute; top:0; right:30px;}
#education .paint10{ position:absolute; top:-120px; right:-56px; width:338px; height:758px;}
#education .paint10 img{ width:100%;}
#education .word12{ font-family:myFont1; font-size:120px; font-weight:400; line-height:140px; margin-top:-100px; padding-left:135px;}
#education span{ font-family:myFont3; font-size:20px; position:absolute; top:34px; left:430px;}
#education .p8{ font-size:40px; font-family:myFont1; color:#a81e24; width:586px; text-align:left; line-height:54px; margin-left:-74px;}
#education .text8{ margin-top:44px; margin-left:40px;}
#education .text8 p{ font-size:14px; font-family:myFont1; text-align:left;}
#education .text8 .p9{ padding-top:24px;}

#skill{ width:100%; height:100%; background:url(../image/13.jpg) no-repeat; position:relative; margin-top:80px; background-size:100%; border:1px solid #fff;}
#skill .text9{ width:200px; margin:100px auto; text-align:center}
#skill .text9 .span5{ font-size:40px; font-family:myFont1; letter-spacing:10px;}
#skill .text9 .span6{ font-size:20px; font-family:myFont3;}

#awards{ width:100%; height:560px; position:relative; margin-top:120px;}
#awards .color5{ background:#eee9e3; width:1200px; height:560px; position:absolute; top:0; right:0;}
#awards .word13{ width:270px; font-size:120px; font-family:myFont1; font-weight:400; letter-spacing:4px; line-height:120px; margin-top:-70px; margin-left:50px;}
#awards .p10{ font-size:20px; font-family:myFont3; text-align:right; width:84px; line-height:30px; margin-top:20px; margin-left:210px;}
#awards .show{ width:800px; height:460px; background:#fff; position:absolute; top:20px; right:30px; overflow:hidden;}
#awards .show ul{ overflow:hidden; position:absolute; top:0; left:0;}
#awards .show ul li{ width:800px; float:left;}
#awards .show ul li img{ width:100%;}
#awards ol{ width:150px; position:absolute; bottom:20px; left:50%; margin-left:110px;}
#awards ol li{ width:20px; height:20px; background:#fff; margin:8px; float:left; cursor:pointer;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
}
#awards ol li.on1{ background:#a81e24;}

#interest{ width:100%; height:600px; position:relative; margin-top:120px;}
#interest .color6{ background:#e8ebc2; width:1000px; height:600px; position:relative; margin:0 auto;}
#interest .word14{ width:310px; font-size:120px; font-family:myFont1; color:#a81e24; font-weight:400; line-height:102px; position:absolute; top:-62px; right:-48px;}
#interest .p11{ font-size:20px; font-family:myFont3; color:#000; position:absolute; top:58px; right:90px;}
#interest .interest{ position:absolute; top:30px; left:30px; overflow:hidden;}
#interest .interest li{ width:200px; height:200px; padding-left:76px; padding-top:56px; float:left;}
#interest .interest li img{ width:100%;}

.bottom2{ width:100%; height:200px; background:#a81e24; margin:0 0 10px 0; position:relative;}
.bottom2 .img1{ width:338px; height:144px; position:absolute; top:30px; left:180px;}
.bottom2 .img2{ width:86px; height:25px; position:absolute; top:92px; right:80px;}
#about_me{ display:block;}

#continue{ width:100%; height:100%; position:relative; display:none;}
#continue .img9{ width:550px; height:160px; position:absolute; top:50%; left:50%; margin-left:-275px; margin-top:-80px;}
#continue img{ width:100%;}
#continue .life{ font-size:120px; font-family:myFont3; color:#a81e24; width:120px; position:absolute; top:40%; left:32%;}
#continue .is{ font-size:40px; font-family:myFont3; color:#a81e24; width:70px; position:absolute; top:60%; left:44%;}
#continue .carnival{ font-size:60px; font-family:myFont3; color:#a81e24; width:60px; position:absolute; top:52%; left:64%;}
#continue .text10{ font-size:14px; font-family:myFont1; text-align:right; width:150px; position:absolute; top:68%; left:60%; line-height:20px;}

#program{}
#tab{ width:100%; height:100%; background:#000; position:relative;}
#tab .text11{ font-size:120px; font-family:myFont2; color:#fff; width:350px; line-height:104px; position:absolute; top:28%; left:50%; margin-left:-175px;}
#tab .p12{ font-size:20px; color:#fff; font-family:myFont1; width:126px; position:absolute; top:68%; left:34%; letter-spacing:1px;}
#h5{ width:100%; height:100%; background:#000; position:relative;}
#h5 .more5{ width:270px; height:80px; background:#a81e24; font-family:myFont2; font-size:40px; color:#fff; text-align:center; line-height:80px; position:absolute; top:4%; left:50%; margin-left:-135px;}
#h5 .main1{ width:680px; height:520px; overflow:hidden; position:absolute; top:22%; left:50%; margin-left:-340px;}
#h5 .main1 ul li{ width:300px; height:220px; background:#fff; float:left;}
.bottom3{ width:100%; height:200px; background:#a81e24; margin:0 0 10px 0; position:relative;}
.bottom3 .img1{ width:338px; height:144px; position:absolute; top:30px; left:180px;}
.bottom3 .img2{ width:86px; height:25px; position:absolute; top:92px; right:80px;}
#h5 .main1 .clock2{ margin-left:80px;}
#h5 .main1 .Magnifier{ margin-top:80px;}
#h5 .main1 .games{ margin-left:80px; margin-top:80px;}

#web{ width:100%; height:100%; background:#000; position:relative;}
#web .more6{ width:270px; height:80px; background:#a81e24; font-family:myFont2; font-size:40px; color:#fff; text-align:center; line-height:80px; position:absolute; top:4%; left:50%; margin-left:-135px;}





























